


.bar{

margin-left: 162px;
word-spacing: 20px;
color: white;
font-family: 'Italianno', cursive;

}


.bar1{

margin-right: 162px!important;
word-spacing: 20px;
color: white;
font-family: 'Italianno', cursive;

}

.navbar{

background-color: black!important;


}


@media (min-width: 0px) and (max-width: 600px) {


    .bar{

        margin-left: 1px;
        word-spacing: 20px;
        color: white;
        font-family: 'Italianno', cursive;
        
        }
        
        
        .bar1{
        
        margin-left: 289px!important;
        word-spacing: 20px;
        color: white;
        font-family: 'Italianno', cursive;
        margin-top: -43px;
        
        }








 }



 
@media (min-width: 601px) and (max-width: 826px) {


    .bar{

        margin-left: 1px;
        word-spacing: 20px;
        color: white;
        font-family: 'Italianno', cursive;
        
        }
        
        
        .bar1{
        
        margin-left: 378px!important;
        word-spacing: 20px;
        color: white;
        font-family: 'Italianno', cursive;
        margin-top: -43px;
        
        }








 }


 .navbar{

background-color: #100238!important;



 }



.vice{


height: 87px!important;
width: 87px!important;
margin-left: 187px;

}




.vice1{


    height: 40px!important;
    width: 187px!important;
    margin-top: 29px;
    
    
    }

    .vice2{

color: white!important;
margin-left: 23px;


    }

    .navbar-toggler{

border-color: white!important;


    }

    .vice3{


border-color: #0E7D95!important;
background-color:  #0E7D95!important;
color: blue!important;
margin-left: 109px;



    }

.vice5{

margin-left: 22px;



}


    @media (min-width: 0px) and (max-width: 904px) {


.vice{

margin-left: 14px;


}





.vice3{

margin-left: 23px!important;


}




    }




    @media (min-width: 905px) and (max-width: 1100px) {




        .vice{

            margin-left: 14px;
            
            
            }
            



.vice2{

margin-left: 8px!important;

}
    
   

.vice3{

    margin-left: 5px!important;
    
    } 
    
    
    
    }


    @media (min-width: 1101px) and (max-width: 1200px) {



.vice{

margin-left: 10px;


}

.vice3{

margin-left: 39px;


}




    }



    @media (min-width: 1201px) and (max-width: 1400px) {



.vice{

margin-left: 61px;


}



    }



    .page1{

height: 589px!important;
width: 100%!important;



    }



    .page5{

margin-top: -589px;
height: 223px!important;
width: 307px!important;
margin-left: 45px;

    }


    .page2{


margin-top: -427px;
margin-left: 76px;
color: white;
font-family: 'Salsa', cursive;
font-size: 45px;

    }

    
    .page3{


        color: white;
        margin-left: 76px;
        font-family: 'Salsa', cursive;
        font-size: 45px;



        
            }

            
    .page4{


        color: white;
        margin-left: 76px;
        font-family: 'Salsa', cursive;
        font-size: 45px;



            }


            .phase{

background-color: black;
height: 567px;
width: 100%;



            }


.phase4{

border-bottom-right-radius: 21%!important;
margin-top: 150px;
position: absolute!important;
background-color: black!important;


}

.phase4:hover{

    border-color:  aqua!important;


}

.phase5{

color: white!important;
margin-left: 48px;


}


.phase2{

color: palevioletred;



}

.phase3{

margin-left: 48px;
color: white!important;
    

}

.phase6{

color: white!important;


}

.phase7{

background: none!important;
border-style: none!important;
margin-left: 40%!important;
margin-top: 185px;
position: absolute!important;

}

.phase9{

color: black!important;
font-size: 25px;


}

.phase9:hover{

color: blue!important;
cursor: pointer;


}


.phase10:hover{

    color: aqua!important;
    cursor: pointer;
    
    }

.phase23{

height: 63px;
width: 123px;
background-color: blue;
color: white;
border-radius: 13px;
margin-left: 56px;


}

.phase23:hover{

color: aqua;

}

    

.phase10{

    color: black!important;
    
    
    }

   .phase11{


height: 225px!important;
background-color: palevioletred!important;
transform: translate(384%,81%);



   } 

   .phase12{

margin-top: 32px;


   }


.phase13{

float: left!important;


}


    .phase15{

float: right!important;
margin-top: -24px;
margin-right: 15px!important;


    }

    
    .phase17{

        float: right!important;
        margin-top: -24px;
        
            }

            
    .phase19{

        float: right!important;
        margin-top: -24px;
        margin-right: 18px!important;

        
            }

    
.phase21{

margin-left: 45px;

}

.phase22{

margin-top: 12px;


}

.phase14{

color: white!important;

}


.phase15{

    color: white!important;
    
    }

    
.phase16{

    color: white!important;
    
    }

    
.phase17{

    color: white!important;
    
    }

    
.phase18{

    color: white!important;
    
    }

    
.phase19{

    color: white!important;
    
    }

    
.phase20{

    color: white!important;
    
    }




    @media (min-width: 0px) and (max-width: 576px) {





        .phase11{


            height: 225px!important;
            background-color: palevioletred!important;
            transform: translate(38%,334%);
            
            
            
               } 





               .phase7{

                background: none!important;
                border-style: none!important;
                margin-left: 22%!important;
                margin-top: 437px;
                position: absolute!important;
                
                }
                


.phase{

    background-color: black;
    height: 1000px;
    width: 100%;
    
    
    
                }


            .phase4{

margin-left: 22%;



            }    



    }



    
    @media (min-width: 577px) and (max-width: 786px) {





        .phase11{


            height: 225px!important;
            background-color: palevioletred!important;
            transform: translate(49%,228%);
            
            
            
               } 





               .phase7{

                background: none!important;
                border-style: none!important;
                margin-left: 43%!important;
                margin-top: 153px;
                position: absolute!important;
                
                }
                


.phase{

    background-color: black;
    height: 1000px;
    width: 100%;
    
    
    
                }

/* 
            .phase4{

margin-left: 22%;



            }     */



    }


    
    
    @media (min-width: 787px) and (max-width: 992px) {





        .phase11{


            height: 225px!important;
            background-color: palevioletred!important;
            transform: translate(89%,228%);
            
            
            
               } 





               .phase7{

                background: none!important;
                border-style: none!important;
                margin-left: 57%!important;
                margin-top: 153px;
                position: absolute!important;
                
                }
                


.phase{

    background-color: black;
    height: 1000px;
    width: 100%;
    
    
    
                }

/* 
            .phase4{

margin-left: 22%;



            }     */



    }



    
    
    @media (min-width: 992px) and (max-width: 1100px) {





        .phase11{


            height: 225px!important;
            background-color: palevioletred!important;
            transform: translate(218%,81%);
            
            
            
               } 





               .phase7{

                background: none!important;
                border-style: none!important;
                margin-left: 33%!important;
                margin-top: 153px;
                position: absolute!important;
                
                }
                


.phase{

    background-color: black;
    height: 1000px;
    width: 100%;
    
    
    
                }

/* 
            .phase4{

margin-left: 22%;



            }     */



    }



    
    
    @media (min-width: 1100px) and (max-width: 1250px) {





        .phase11{


            height: 225px!important;
            background-color: palevioletred!important;
            transform: translate(263%,81%);
            
            
            
               } 





               .phase7{

                background: none!important;
                border-style: none!important;
                margin-left: 33%!important;
                margin-top: 153px;
                position: absolute!important;
                
                }
                


.phase{

    background-color: black;
    height: 1000px;
    width: 100%;
    
    
    
                }

/* 
            .phase4{

margin-left: 22%;



            }     */



    }



    
    
    @media (min-width: 1250px) and (max-width: 1350px) {





        .phase11{


            height: 225px!important;
            background-color: palevioletred!important;
            transform: translate(287%,81%);
            
            
            
               } 





               .phase7{

                background: none!important;
                border-style: none!important;
                margin-left: 33%!important;
                margin-top: 153px;
                position: absolute!important;
                
                }
                


.phase{

    background-color: black;
    height: 1000px;
    width: 100%;
    
    
    
                }

/* 
            .phase4{

margin-left: 22%;



            }     */



    }



    
    @media (min-width: 1350px) and (max-width: 1450px) {





        .phase11{


            height: 225px!important;
            background-color: palevioletred!important;
            transform: translate(310%,81%);
            
            
            
               } 





               .phase7{

                background: none!important;
                border-style: none!important;
                margin-left: 33%!important;
                margin-top: 153px;
                position: absolute!important;
                
                }
                


.phase{

    background-color: black;
    height: 1000px;
    width: 100%;
    
    
    
                }

/* 
            .phase4{

margin-left: 22%;



            }     */



    }






   


.unit1{

margin-left: 34px;


}



.unit6{

text-align: center;
font-family: 'Salsa', cursive;
font-size: 32px;


}



.unit7{

text-align: center;


}






    .unit9{

height: 39px;
width: 98px;
background-color: blue;
color: white;
border-radius: 36px;
margin-left: 59px;


    }

  .unit8{

float: left!important;
margin-top: 9px;
color: blue;

  } 


  .unit10{

    width: 88%;
margin-left: 17px;
margin-top: 12px;

  }

  .unit11{

margin-top: 32px;
height: 28px;
width: 31px;
position: absolute;
margin-left: 225px;


  }


  .unit{


display: flex!important;
flex-direction: row;
justify-content: space-evenly;

background-color: black;
height: 696px;
width: 100%;



  }

  .unit12{

height: 606px!important;


  }

  @media (min-width: 0px) and (max-width: 986px) {




    .unit{


        display: flex!important;
        flex-direction: column!important;
        align-items: center;
        background-color: black;
        height: 1900px;
        
        
          }


.unit12{

margin-top: 45px;


}






  }



  .rain1{

height: 456px;
width: 100%;

  }


  .rain2{

margin-top: -245px;
text-align: center!important;
color: white;
font-size: 42px;


  }

  .rain3{

text-align: center;
color: white;


  }



.stand{

height: 665px;
width: 100%;
background-color: black;


}





.stand1{

height: 369px!important;
width: 550px!important;
transform: translate(89%,56%);



}






.stand9{

height: 369px!important;
width: 60%!important;
margin-left: -143px;
position: absolute;


}

.stand10{

height: 36px!important;
width: 37px!important;
margin-top: -69px;
margin-left: 130px;

}

.stand5{

    font-family: 'Open Sans', sans-serif;
color: white!important;

}

.stand6{

    font-family: 'Salsa', cursive;
    color: white!important;




}

.stand7{

color: white!important;
font-size: 10px;


}





.stand13{

margin-top: 50px!important;
width: 194px!important;
margin-left: -194px;
height: 45px;


}


.stand14{

width: 194px!important;
margin-left: 12px;




}

.stand15{

margin-left: 39px;
font-size: 20px;
cursor: pointer;
color: white!important;


}


@media (min-width: 0px) and (max-width: 520px) {




.stand1{


width: 92%!important;
transform: translate(0%,58%);

}


.stand9 {
    height: 369px!important;
    width: 52%!important;
    margin-left: 215px;
    position: absolute;
margin-top: -197px;


}










}

@media (min-width: 521px) and (max-width: 540px) {

    
    
    .stand1{


        width: 92%!important;
        transform: translate(1%,58%);
        
        }
        
        
        .stand9 {
            height: 369px!important;
            width: 54%!important;
            margin-left: 215px;
            position: absolute;
        margin-top: -197px!important;
        
        
        }
        
        



}



@media (min-width: 541px) and (max-width: 766px) {




    .stand1{
    
    
    width: 92%!important;
    transform: translate(3%,58%);
    
    }
    
    
    .stand9 {
        height: 369px!important;
        width: 60%!important;
        margin-left: 215px;
        position: absolute;
    margin-top: -197px;
    
    
    }
    
    
    
    
    
    
    
    
    
    
    }
    
    
    
    
@media (min-width: 767px) and (max-width:992px) {


.stand1{

transform: translate(20%,50%);


}
    
    
    
 
    
    
    }
    
    
    
@media (min-width: 992px) and (max-width: 1200px) {


    .stand1{
    
    transform: translate(50%,50%);
    
    
    }
        
        
        
     
        
        
        }
        


        @media (min-width: 1200px) and (max-width: 1500px) {


            .stand1{
            
            transform: translate(50%,50%);
            
            
            }
                
                
                
             
                
                
                }





  .hertz4{

margin-top: 45px!important;




  }   
  
  
  .hertz1{

border-style: none!important;
background-color: pink!important;
height: 266px;
margin-top: 25px;



  }

  .hertz9{

height: 125px;
width: 100%;


  }

  .hertz5{

background-color: #020838!important;
height: 266px!important;
border-radius: 40px!important;
margin-top: 25px;

  }
        
  

  .hertz7{

color: #F91717!important;
margin-top: -102px;
text-align: center;
font-size: 28px;

  }


  .hertz10{

margin-left: 12px;


  }


  .hertz12{

height: 29px;
width: 78px;
margin-top: 67px!important;


  }

  .hertz11{


    margin-top: 46px!important;

  }


  .hertz{

display: flex!important;
flex-direction: row;
justify-content: space-evenly;
background-color: pink;
height: 337px;
width: 100%;



  }



  @media (min-width: 0px) and (max-width: 816px) {





    .hertz{

        display: flex!important;
        flex-direction: column!important;
        justify-content: space-evenly;
        background-color: pink;
        height: 698px;
        width: 100%;
        align-items: center;
        
        
        
          }





  }



  .fact{

background-color: #EF6EDA;
height: 358px;
width: 100%;


  }



.fact1{

height: 255px!important;
margin-top: 25px;

}




.fact4{


margin-top: 45px!important;
text-align: center;

}




.fact7{

height: 78px;
width: 78px;



}

.fact3{

margin-top: -62px;
margin-left: 96px;
position: absolute;
font-family: 'Salsa', cursive;
font-size: 25px;



}


.fact8{

margin-left: 12px;


}

.fact17{

display: flex!important;
flex-direction: row;
justify-content: space-evenly;



}



@media (min-width: 0px) and (max-width: 886px) {





    .fact17{

        display: flex!important;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        
        
        }


.fact1{


margin-top: 12px;


}

.fact{

height: 808px;


}






}

.meet2{

height: 600px!important;


}



.meet3{

height: 508px;
width: 60%!important;
margin-left: 20%;
margin-top: 50px;



}

.meet5{

text-align: center;
font-size: 45px;
color: black!important;
margin-top: 36px;

}



.meet6{

    margin-left: 46%;
height:  47px;
width:  125px;
border-radius: 50px;
color: white;
background-color: #100238;

    
    }



    @media (min-width: 0px) and (max-width: 786px) {



.meet5{

font-size: 20px;


}






    }



    .snap1{

margin-top: 60px;



    }

  


    .snap7{

        margin-top: 60px;
        
        
        
            }
        
          


    

    .snap3{

width: 96px!important;
height: 33px!important;



    }



.snap4{

color: white;



}






    .snap{

display: flex;
flex-direction: row;
justify-content: space-evenly;
background-color: #020838;
height: 376px;
width: 100%;



    }


    .snap5{

color: white;


    }


    
    .snap6{

        color: white;
        
        
            }


            
            @media (min-width: 0px) and (max-width: 530px) {


.snap7{

margin-left: 12px;


     
}




            }



            .true2{

height: 84px;
width: 198px;


            }


           
.true{

display: flex;
flex-direction: row;
justify-content: space-evenly;
background-color: #020838;
height: 255px;
width: 100%;



}

.true1{

margin-top: 12px;


}


@media (min-width: 0px) and (max-width: 576px) {


        
    .true{

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #020838;
        height: 255px;
        width: 100%;

        
        
        
        }

        .true2{

            height: 64px;
            width: 98px;
            
            
                        }
            
            
      
       

}



@media (min-width: 577px) and (max-width: 786px) {


        
    .true{

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #020838;
        height: 255px;
        width: 100%;

        
        
        
        }

        .true2{

            height: 64px;
            width: 98px;
            
            
                        }
            
            
      
       

}
        
 



.min{

height: 225px;
width: 100%;
background-color: #020838;


}

.min1{

    color: white;
text-align: center;
font-family: 'Salsa', cursive;
font-size: 40px;

}


.min2{

margin-left: 35%;
height: 56px;
width: 436px;
border-radius: 8px;



}




.min3{

background-color: #0E7D95;
color: white;
height: 56px;
width: 141px;
position: absolute;
border-radius: 8px;

}





@media (min-width: 787px) and (max-width: 992px) {



    .min2{

        margin-left: 35%;
        height: 56px;
        width: 436px;
        border-radius: 8px;
        margin-left: 113px;
        
        
        }
        
        
        
        
        .min3{
        
        background-color: #0E7D95;
        color: white;
        height: 56px;
        width: 141px;
        position: absolute;
        border-radius: 8px;
        
        }








}



@media (min-width: 576px) and (max-width: 786px) {




.min1{

margin-left: -147px;


}



    .min2{

        margin-left: 35%;
        height: 56px;
        width: 368px;
        border-radius: 8px;
        margin-left: 28px;
        
        
        }
        
        
        
        
        .min3{
        
        background-color: #0E7D95;
        color: white;
        height: 56px;
        width: 141px;
        position: absolute;
        border-radius: 8px;
        
        }








}



@media (min-width: 0px) and (max-width: 575px) {




    .min1{
    
    margin-left: -147px;
    
    
    }
    
    
    
        .min2{
    
            margin-left: 35%;
            height: 56px;
            width: 299px;
            border-radius: 8px;
            margin-left: 28px;
            
            
            }
            
            
            
            
            .min3{
            
            background-color: #0E7D95;
            color: white;
            height: 56px;
            width: 141px;
            position: absolute;
            border-radius: 8px;
            
            }
    
    
    
    
    
    
    
    
    }


.sec{

height: 120px;
width: 100%;
background-color: #020838;



}




    .sec1{

width: 80%;
height: 1px;
background-color: aqua;
margin-top: -12px;
margin-left: 10%;


    }

    .sec3{

height: 23px;
width: 56px;


    }

    
    .sec2{

        height: 33px;
        width: 76px;
        margin-left: 89%;
        margin-top: -27px;
        position: absolute;
        
        
            }



            @media (min-width: 0px) and (max-width: 575px) {

                .sec2{

                    height: 33px;
                    width: 76px;
                    margin-left: 80%;
                    margin-top: -27px;
                    position: absolute;
                    
                    
                        }
               
            
            
            
            }



            

            @media (min-width: 576px) and (max-width: 786px) {

                .sec2{

                    height: 33px;
                    width: 76px;
                    margin-left: 84%;
                    margin-top: -27px;
                    position: absolute;
                    
                    
                        }
               
            
            
            
            }


            
            @media (min-width: 787px) and (max-width: 992px) {

                .sec2{

                    height: 33px;
                    width: 76px;
                    margin-left: 87%;
                    margin-top: -27px;
                    position: absolute;
                    
                    
                        }
               
            
            
            
            }


            .hr{

height: 75px;
width: 100%;
background-color: black;


            }

            .hr1{


margin-left: 46%;
color: white;
font-size: 29px;
margin-top: 17px;
position: absolute;

            }