
.bar{

    margin-left: 162px;
    word-spacing: 20px;
    color: white;
    font-family: 'Italianno', cursive;
    
    }
    
    
    .bar1{
    
    margin-right: 162px!important;
    word-spacing: 20px;
    color: white;
    font-family: 'Italianno', cursive;
    
    }
    
    .navbar{
    
    background-color: black!important;
    
    
    }
    
    
    @media (min-width: 0px) and (max-width: 600px) {
    
    
        .bar{
    
            margin-left: 1px;
            word-spacing: 20px;
            color: white;
            font-family: 'Italianno', cursive;
            
            }
            
            
            .bar1{
            
            margin-left: 289px!important;
            word-spacing: 20px;
            color: white;
            font-family: 'Italianno', cursive;
            margin-top: -43px;
            
            }
    
    
    
    
    
    
    
    
     }
    
    
    
     
    @media (min-width: 601px) and (max-width: 826px) {
    
    
        .bar{
    
            margin-left: 1px;
            word-spacing: 20px;
            color: white;
            font-family: 'Italianno', cursive;
            
            }
            
            
            .bar1{
            
            margin-left: 378px!important;
            word-spacing: 20px;
            color: white;
            font-family: 'Italianno', cursive;
            margin-top: -43px;
            
            }
    
    
    
    
    
    
    
    
     }
    
    
     .navbar{
    
    background-color: #100238!important;
    
    
    
     }
    
    
    
    .vice{
    
    
    height: 87px!important;
    width: 87px!important;
    margin-left: 187px;
    
    }
    
    
    
    
    .vice1{
    
    
        height: 40px!important;
        width: 187px!important;
        margin-top: 29px;
        
        
        }
    
        .vice2{
    
    color: white!important;
    margin-left: 23px;
    
    
        }
    
        .navbar-toggler{
    
    border-color: white!important;
    
    
        }
    
        .vice3{
    
    
    border-color: #0E7D95!important;
    background-color:  #0E7D95!important;
    color: blue!important;
    margin-left: 109px;
    
    
    
        }


     
.vice5{

    margin-left: 22px;
    
    
    
    }  
    
    
        @media (min-width: 0px) and (max-width: 904px) {
    
    
    .vice{
    
    margin-left: 14px;
    
    
    }
    
    
    
    
    
    .vice3{
    
    margin-left: 23px!important;
    
    
    }
    
    
    
    
        }
    
    
    
    
        @media (min-width: 905px) and (max-width: 1100px) {
    
    
    
    
            .vice{
    
                margin-left: 14px;
                
                
                }
                
    
    
    
    .vice2{
    
    margin-left: 8px!important;
    
    }
        
       
    
    .vice3{
    
        margin-left: 5px!important;
        
        } 
        
        
        
        }
    
    
        @media (min-width: 1101px) and (max-width: 1200px) {
    
    
    
    .vice{
    
    margin-left: 10px;
    
    
    }
    
    .vice3{
    
    margin-left: 39px;
    
    
    }
    
    
    
    
        }
    
    
    
        @media (min-width: 1201px) and (max-width: 1400px) {
    
    
    
    .vice{
    
    margin-left: 61px;
    
    
    }
    
    
    
        }
    
    
    
        .page1{
    
    height: 589px!important;
    width: 100%!important;
    
    
    
        }
    
    
    
    
    
        .page2{
    
    
    margin-top: -427px;
    margin-left: 76px;
    color: white;
    font-family: 'Salsa', cursive;
    font-size: 95px;
    text-align: left;


    
        }
    
        
        
        @media (min-width: 0px) and (max-width: 576px) {




            .page2{
    
    
                margin-top: -427px;
                margin-left: 76px;
                color: white;
                font-family: 'Salsa', cursive;
                font-size: 45px;
                text-align: center;
            
            
                
                    }







        }

          
        @media (min-width: 577px) and (max-width: 786px) {




            .page2{
    
    
                margin-top: -427px;
                margin-left: 76px;
                color: white;
                font-family: 'Salsa', cursive;
                font-size: 45px;
                text-align: center;
            
            
                
                    }







        }

        
          
        @media (min-width: 787px) and (max-width: 992px) {




            .page2{
    
    
                margin-top: -427px;
                margin-left: 76px;
                color: white;
                font-family: 'Salsa', cursive;
                font-size: 65px;
                text-align: center;
            
            
                
                    }







        }


        
        @media (min-width: 993px) and (max-width: 1100px) {




            .page2{
    
    
                margin-top: -427px;
                margin-left: 76px;
                color: white;
                font-family: 'Salsa', cursive;
                font-size: 65px;
                text-align: center;
            
            
                
                    }







        }


.hint4{

height: 55px;
width: 133px;
background-color: #0E7D95;
color: white;
border-radius: 50px;

}

.hint5{

height: 16px;
width: 15px;


}



.hint2{


font-size: 36px;


}






.hint3{


    font-family: 'Salsa', cursive;
font-size: 23px;


}

.hint4{

margin-top: 22px;


}




.hint{

display: flex;
flex-direction: row;
justify-content: space-evenly;
background-color: #818BDF;
margin-top: -16px;


}


@media (min-width: 0px) and (max-width: 576px) {


    .hint{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #818BDF;
        margin-top: 156px;
        height: 800px;
align-items: center;
        
        
        }

        .hint3{

            text-align: center;


        }
        

}




@media (min-width: 577px) and (max-width: 786px) {


    .hint{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #818BDF;
        margin-top: 156px;
        height: 800px;
align-items: center;
        
        
        }

        .hint3{

            text-align: center;


        }
        

}


@media (min-width: 787px) and (max-width: 1100px) {


.hint{


margin-top: 135px;


}



}


.sap{

display: flex;
flex-direction: row;
justify-content: center;
margin-top: 56px;



}


.sap1{

border-style: none!important;


}


.sap3{

    border-style: none!important;
    
    
    }



.sap2{

margin-top: 18px;




}

.sap4{

margin-top: 13px;


}




.sap5{

margin-top: 39px;
height: 290px!important;
width: 100%!important;


}

.sap6{

border-style: none!important;


}

.sap7{

    border-style: none!important;
    
    
    }



.sap8{

display: flex;
flex-direction: row;



}


@media (min-width: 0px) and (max-width: 1100px) {


.sap6{

height: 65px!important;



}


.sap7{

    height: 65px!important;
    
    
    
    }
    


}


.low2{

font-size: 36px;
text-align: center;




}


.low3{


text-align: center;

}



 
    
    
        
                
        .in10{
    
            width: 155px!important;
            height: 105px!important;
            background-color: #D9D9D9!important;
    
    
    
            
                }
            
               
                .in12{
                    font-size: 33px;
                    text-align: center;
            
                }
    
                .in13{
    
    text-align: center;
    font-family: 'Salsa', cursive;
    font-size: 10px;
    
                }
    
    
    
    
                      
        .in14{
    
            width: 155px!important;
            height: 105px!important;
            background-color: #818BDF!important;
            


                }



                .low4{

display: flex;
flex-direction: row;
justify-content: space-evenly;
margin-top: 45px;



                }



        .not2{

text-align: center;
font-size: 30px;
margin-top: 85px;


        }  
        
        
        
        .exit3{

            border-style: none!important;
            
            
            
                                    }
            
            
            
            
            .exit5{
            
            
            color: pink!important;
            font-size: 38px;
            
            }
            
            
            
            
                                    .exit6{
            
                                        font-family: 'Salsa', cursive;
            
            color: #020838;
            
                                    }
            
            
                                    .exit2{
            
            
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
            
                                    }
            
            
                                    .exit8{
            
            
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-evenly;
                                        
                                        
                                                                }

                                                                



.lap{

height: 419px!important;
background-color: #020838!important;

}

.lap1{

text-align: center;
font-size: 45px;
color: white;

}

.lap2{

    font-family: 'Salsa', cursive;
text-align: center;
font-size: 29px;
color: #818BDFFC;

}


.lap3{

width: 158px!important;
background-color: #818BDF!important;

}

 .lap6{

    font-family: 'Salsa', cursive;
font-size: 16px;
color: white!important;

 }  
 
 .lap8{

display: flex!important;
flex-direction: row;
justify-content: space-evenly;



 }

 .lap10{

text-align: center;
font-size: 24px;
margin-top: 12px;
color: white;

 }

 .lap11{

background-color: aqua;
border-radius: 100px;
height: 36px;
width: 36px;
margin-left: 12px;

 }

 
 .lap12{

    background-color: aqua;
    border-radius: 100px;
    height: 36px;
    width: 36px;
    margin-right: 12px;

    
     }

     
 .lap13{

    background-color: aqua;
    border-radius: 100px;
    height: 36px;
    width: 36px;
    margin-left: 12px;

    
     }

     
 .lap14{

    background-color: aqua;
    border-radius: 100px;
    height: 36px;
    width: 36px;
    margin-right: 12px;

    
     }

     .lap15{

display: flex;
flex-direction: row;
justify-content: space-between;
transform: translate(0px,-409px);
position: relative;


     }


     
     .lap16{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transform: translate(0px,-87px);
        position: relative;

        
        
             }



             .rate{

display: flex!important;
flex-direction: row;
justify-content: space-evenly;
height: 124px;
width: 100%;
background-color: #020838;
border-radius: 13px;



             }



.clip{

margin-top: -58px;
font-size: 45px;



}






             .rate1{

color: white;
margin-top: 30px;

             }

             .rate2{

                color: white;
                

                             }




                             .rate4{

height: 45px;
width: 129px;
background-color: #818BDFFC;
border-radius: 15px;
margin-top: 45px;


                             }


                             .rate5{

color: green;


                             }


.rate6{

color: red;


}


.rate7{

    display: flex!important;
    flex-direction: row;
    justify-content: space-evenly;
    height: 124px;
    width: 100%;
    background-color: #818BDFFC;
    border-radius: 13px;
    
    
    
                 }


                 .rate8{

                    height: 45px;
                    width: 129px;
                    background-color: #020838;
                    border-radius: 15px;
                    margin-top: 45px;
                    color: white;
                    
                    
                                                 }




                                                 
    
        .snap1{
    
            margin-top: 60px;
            
            
            
                }
            
              
            
            
                .snap7{
            
                    margin-top: 60px;
                    
                    
                    
                        }
                    
                      
            
            
                
            
                .snap3{
            
            width: 96px!important;
            height: 33px!important;
            
            
            
                }
            
            
            
            .snap4{
            
            color: white;
            
            
            
            }
            
            
            
            
            
            
                .snap{
            
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            background-color: #020838;
            height: 376px;
            width: 100%;
            margin-top: 45px;
            
            
            
                }
            
            
                .snap5{
            
            color: white;
            
            
                }
            
            
                
                .snap6{
            
                    color: white;
                    
                    
                        }
            
            
                        
                        @media (min-width: 0px) and (max-width: 530px) {
            
            
            .snap7{
            
            margin-left: 12px;
            
            
                 
            }
            
            
            
            
                        }
            
            
            
                        .true2{
            
            height: 84px;
            width: 198px;
            
            
                        }
            
            
                       
            .true{
            
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            background-color: #020838;
            height: 255px;
            width: 100%;
            
            
            
            }
            
            .true1{
            
            margin-top: 12px;
            
            
            }
            
            
            @media (min-width: 0px) and (max-width: 576px) {
            
            
                    
                .true{
            
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    background-color: #020838;
                    height: 255px;
                    width: 100%;
            
                    
                    
                    
                    }
            
                    .true2{
            
                        height: 64px;
                        width: 98px;
                        
                        
                                    }
                        
                        
                  
                   
            
            }
            
            
            
            @media (min-width: 577px) and (max-width: 786px) {
            
            
                    
                .true{
            
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    background-color: #020838;
                    height: 255px;
                    width: 100%;
            
                    
                    
                    
                    }
            
                    .true2{
            
                        height: 64px;
                        width: 98px;
                        
                        
                                    }
                        
                        
                  
                   
            
            }
                    
             
            
            
            
            .min{
            
            height: 225px;
            width: 100%;
            background-color: #020838;
            
            
            }
            
            .min1{
            
                color: white;
            text-align: center;
            font-family: 'Salsa', cursive;
            font-size: 40px;
            
            }
            
            
            .min2{
            
            margin-left: 35%;
            height: 56px;
            width: 436px;
            border-radius: 8px;
            
            
            
            }
            
            
            
            
            .min3{
            
            background-color: #0E7D95;
            color: white;
            height: 56px;
            width: 141px;
            position: absolute;
            border-radius: 8px;
            
            }
            
            
            
            
            
            @media (min-width: 787px) and (max-width: 992px) {
            
            
            
                .min2{
            
                    margin-left: 35%;
                    height: 56px;
                    width: 436px;
                    border-radius: 8px;
                    margin-left: 113px;
                    
                    
                    }
                    
                    
                    
                    
                    .min3{
                    
                    background-color: #0E7D95;
                    color: white;
                    height: 56px;
                    width: 141px;
                    position: absolute;
                    border-radius: 8px;
                    
                    }
            
            
            
            
            
            
            
            
            }
            
            
            
            @media (min-width: 576px) and (max-width: 786px) {
            
            
            
            
            .min1{
            
            margin-left: -147px;
            
            
            }
            
            
            
                .min2{
            
                    margin-left: 35%;
                    height: 56px;
                    width: 368px;
                    border-radius: 8px;
                    margin-left: 28px;
                    
                    
                    }
                    
                    
                    
                    
                    .min3{
                    
                    background-color: #0E7D95;
                    color: white;
                    height: 56px;
                    width: 141px;
                    position: absolute;
                    border-radius: 8px;
                    
                    }
            
            
            
            
            
            
            
            
            }
            
            
            
            @media (min-width: 0px) and (max-width: 575px) {
            
            
            
            
                .min1{
                
                margin-left: -147px;
                
                
                }
                
                
                
                    .min2{
                
                        margin-left: 35%;
                        height: 56px;
                        width: 299px;
                        border-radius: 8px;
                        margin-left: 28px;
                        
                        
                        }
                        
                        
                        
                        
                        .min3{
                        
                        background-color: #0E7D95;
                        color: white;
                        height: 56px;
                        width: 141px;
                        position: absolute;
                        border-radius: 8px;
                        
                        }
                
                
                
                
                
                
                
                
                }
            
            
            .sec{
            
            height: 120px;
            width: 100%;
            background-color: #020838;
            
            
            
            }
            
            
            
            
                .sec1{
            
            width: 80%;
            height: 1px;
            background-color: aqua;
            margin-top: -12px;
            margin-left: 10%;
            
            
                }
            
                .sec3{
            
            height: 23px;
            width: 56px;
            
            
                }
            
                
                .sec2{
            
                    height: 33px;
                    width: 76px;
                    margin-left: 89%;
                    margin-top: -27px;
                    position: absolute;
                    
                    
                        }
            
            
            
                        @media (min-width: 0px) and (max-width: 575px) {
            
                            .sec2{
            
                                height: 33px;
                                width: 76px;
                                margin-left: 80%;
                                margin-top: -27px;
                                position: absolute;
                                
                                
                                    }
                           
                        
                        
                        
                        }
            
            
            
                        
            
                        @media (min-width: 576px) and (max-width: 786px) {
            
                            .sec2{
            
                                height: 33px;
                                width: 76px;
                                margin-left: 84%;
                                margin-top: -27px;
                                position: absolute;
                                
                                
                                    }
                           
                        
                        
                        
                        }
            
            
                        
                        @media (min-width: 787px) and (max-width: 992px) {
            
                            .sec2{
            
                                height: 33px;
                                width: 76px;
                                margin-left: 87%;
                                margin-top: -27px;
                                position: absolute;
                                
                                
                                    }
                           
                        
                        
                        
                        }
            
            
                        .hr{
            
            height: 75px;
            width: 100%;
            background-color: black;
            
            
                        }
            
                        .hr1{
            
            
            margin-left: 46%;
            color: white;
            font-size: 29px;
            margin-top: 17px;
            position: absolute;
            
                        }
        
        
                                            